---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BlogPostCard from "../../components/BlogPostCard.astro";
import Tag from "../../components/Tag.astro";
import { formatDate } from "../../utils/dateFormatter";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts, allTags: uniqueTags, allPosts: allPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts, allTags, allPosts } = Astro.props;
---

<Layout pageTitle={tag}>
  <div class="">
    <h1
      class="text-4xl p-2 md:p-4 font-bold mb-8 transform -rotate-2 inline-block bg-black text-white"
    >
      Posts tagged with <span class="text-body-300">{tag}</span>
    </h1>

    <div class="mb-12 mx-2 p-4 bg-gray-100 border-4 border-black">
      <h2
        class="text-2xl font-bold mb-4 transform rotate-1 inline-block bg-white p-2"
      >
        Popular Tags:
      </h2>
      <div>
        {
          allTags.map((t) => (
            <Tag
              name={t}
              count={
                allPosts.filter((post) => post.data.tags.includes(t)).length
              }
            />
          ))
        }
      </div>
    </div>

    <ul>
      {
        posts.map((post) => (
          <li>
            <BlogPostCard
              url={`/posts/${post.slug}/`}
              title={post.data.title}
              pubDate={formatDate(post.data.pubDate)}
              description={post.data.description}
              image={post.data.image}
            />
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
