---
import Layout from "../layouts/Layout.astro";
import BlogPostCard from "../components/BlogPostCard.astro";
import NavLink from "../components/NavLink.astro";
import FeaturedBanner from "../components/FeaturedBanner.astro";
import Subscribe from "../components/Subscribe.astro";
import RSSReaderLink from "@components/RSSReaderLink.astro";
import { getCollection } from "astro:content";
import { formatDate } from "../utils/dateFormatter";
import RSS from "@components/RSS.astro";

const title = "Home";

// Get all posts and sort them by publication date (most recent first)
const allPosts = await getCollection("posts");
const sortedPosts = allPosts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

// Get the 3 most recent posts
const recentPosts = sortedPosts.slice(0, 6);

// Get the latest featured game
const featuredPosts = sortedPosts.filter((post) => post.data.featured);
const latestFeaturedGame = featuredPosts[0]; // This will be the most recent featured game
---

<style>
  h1 {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }
</style>

<Layout title={title}>
  <div>
    <h1 class="text-4xl text-center md:text-5xl font-heading text-primary-600">
      Just Good Games.
    </h1>
    {
      latestFeaturedGame && (
        <FeaturedBanner
          title={latestFeaturedGame.data.title}
          url={`/posts/${latestFeaturedGame.slug}/`}
          pubDate={formatDate(latestFeaturedGame.data.pubDate)}
          description={latestFeaturedGame.data.description}
          image={latestFeaturedGame.data.image}
        />
      )
    }
    <div class="my-12 p-6 bg-white border-black border-4 rounded-lg text-center">
      <h2 class="text-3xl font-bold mb-4 font-heading">Stay Updated!</h2>
      <p class="mb-4">
        Subscribe to our newsletter for the latest updates and blog posts.
      </p>
      <Subscribe />
      <h4 class="mt-4 text-2xl font-bold font-heading">
        Or use your favourite RSS reader.
      </h4>
      <div class="mt-2 flex flex-col md:flex-row justify-center mx-auto gap-4">
        <RSSReaderLink 
          target="https://www.inoreader.com/?add_feed="
          target_img="https://www.inoreader.com/images/landing/v2/brand-portal/subscribe-btn-x2.png"
          target_name="Inoreader"
        />
        <RSSReaderLink
          target="https://feedly.com/i/subscription/feed/"
          target_img="https://s1.feedly.com/legacy/feedly-follow-rectangle-flat-medium_2x.png"
          target_name="Feedly"
        />
        <RSS />
      </div>
    </div>
    <div class="my-6 flex flex-col">
      <h2 class="text-3xl font-heading text-center mb-8">Latest Posts</h2>
      <div class="w-full flex flex-wrap justify-center gap-8">
        {
          recentPosts.map((post) => (
            <BlogPostCard
              url={`/posts/${post.slug}/`}
              title={post.data.title}
              pubDate={formatDate(post.data.pubDate)}
              description={post.data.description}
              image={post.data.image}
              tags={post.data.tags}
            />
          ))
        }
      </div>
      <span class="mt-8 mx-auto">
        <NavLink target="/archive" title="See more." />
      </span>
    </div>
  </div>
</Layout>
