---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { formatDate } from "../utils/dateFormatter";
const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <Head 
      title={frontmatter.title} 
      description={frontmatter.description}
      pubDate={frontmatter.pubDate}
      author={frontmatter.author}
      image={frontmatter.image}
    />
  </head>
  <body class="bg-background-100 text-foreground-500 min-h-screen font-body">
    <Header />
    <main class="min-h-screen flex flex-col justify-betwen">
      <div class="flex grow justify-center items-center w-full">
        <div class="flex-1 bg-background-100 p-4 md:p-6 max-w-post-100">
          <h1
            class="text-3xl md:text-5xl mt-4 font-heading text-primary-600 text-left"
          >
            {frontmatter.title}
          </h1>
          <p class="font-subheading text-base md:text-lg mb-4">
            <em>{frontmatter.description}</em>
          </p>
          <div class="flex flex-col md:flex-row mb-2">
            <p
              class="text-base font-bold bg-body-300 p-2 transform rotate-1 inline-block m-2"
            >
              Published on: <em>{formatDate(frontmatter.pubDate)}</em>
            </p>
            <p
              class="text-base font-bold bg-secondary-200 p-2 transform -rotate-1 inline-block m-2"
            >
              Written by: <em>{frontmatter.author}</em>
            </p>
          </div>
          <h4 class="text-xl font-subheading mb-2">Tags:</h4>
          <ul class="flex flex-wrap gap-2 mb-6">
            {
              frontmatter.tags.map((tag) => (
                <li class="bg-accent-200 px-2 py-1 transform -rotate-1">
                  <a
                    href={`/tags/${tag}`}
                    class="hover:text-primary-600 hover:underline"
                  >
                    {tag}
                  </a>
                </li>
              ))
            }
          </ul>
          <article class="mx-auto max-w-post-85">
            <slot />
          </article>
        </div>
      </div>
      <Footer />
    </main>
  </body>
</html>
